* {
    padding: 0;
    margin: 0;
    font-family: "Ojuju", sans-serif;
    font-style: normal;

}


header {
    background: linear-gradient(90deg,rgb(102, 100, 100),rgb(185, 185, 185));
    padding: 15px;

}

header nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;

}

header nav ul {
    list-style: none;
    display: flex;
    gap: 10px;  
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 3vh;

}
.banner {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}